{% extends "base.html.twig" %}
{% block title %}
    confirmation
{% endblock %}
{% block body %}
    <div class="container">
    <div class="title"><h2>Confirmation de commande</h2></div>
    {% set sommeTotal = 0%}
    {% for journee  in journees %}
    {% set somme = 0 %}

    <table class="table hidden">
        <thead>
            <tr>
                <th colspan="2">{{ startAt|date_modify(loop.index~"day")|date("d/m/Y") }}</th>
                <th><button class="reduireTable">Réduire</button></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Label</th>
                <th>Quantité</th>
                <th>Prix</th>
            </tr>
            {# {% for journee in journees %}
                {% for prestation in prestations %}
                    {% if prestation.label == type %}
                        {{include('home/part/journee.html.twig', {label:prestation.label , quantite: journee. , prix: })}}
                    {% endif %}
                {% endfor %}              
            {% endfor %} #}
            <tr>
                <td>{{type}}</td>
                <td>1</td>
                {% set somme = somme + prices.type %}
                    <td>
                        {{prices.type}}
                    </td>
                {% if journee.majoration %}
                    <tr>
                        <td colspan="2">Majoration saison haute</td>
                        {% set somme = somme + prices.type * prices.majoration %}
                        <td>{{prices.type * prices.majoration}}</td>
                    </tr>
                {% endif %}
            </tr>
            <tr>
                <td>Adultes</td>
                <td>{{journee.adultes}}</td>
                {% set somme = somme + prices.taxAdulte * journee.adultes %}
                <td>{{prices.taxAdulte * journee.adultes}}</td>
            </tr>
            <tr>
                <td>Enfants</td>
                <td>{{journee.enfants}}</td>
                 {% set somme = somme + prices.taxEnfant * journee.enfants %}
                <td>{{prices.taxEnfant * journee.enfants}}</td>
            </tr>
            <tr>
                <td colspan = "2">TOTAL journee</td>
                {% set sommeTotal = sommeTotal + somme %}
                <td>{{somme}}</td>
            </tr>
        </tbody>
    </table>
    <div class="row border border-dark p-2">
        <div class="col-4 text-center">{{ startAt|date_modify(loop.index~"day")|date("d/m/Y") }}</div>
        <div class="col-4 text-center">total : {{somme}}</div>
        <div class="col-4 text-center"><button class="btnDetail">Detail</button></div>
    </div>
    {% endfor %}
    <div>Total: {{sommeTotal}}$</div>
    {# <div>{{startAt}}</div> #}
    </div>

{% endblock %}