
<div>
  Reservez une {{name}}
   {{form_start(form)}}
   <input type="text" value="{{days}}" name="days">
   <input type="text" value="{{startAt}}" name="startAt">
   <input type="text" value="{{type}}" name="type">
   {{form_rest(form)}}
   {{form_end(form)}}
</div>