<div class="card">
    <h4>Location de {{type}} </h4>
    <div class="description">
        Le soleil tout confort dans un(e) de nos nombreux {{type}}.
        <form method="POST" class="{{prefix}}formHome" action="/location/{{type}}">
            <select name="type" id="type">
                <option value="type">Selectionnez la taille</option>
                {% for item in items %}
                    <option value="{{item}}" id="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
            <div>
                <label for="{{prefix}}startAt">Début du séjour</label>
                <input type="date" class="{{prefix}}startAt"name="startAt" id="{{prefix}}startAt">
            </div>
            <div>
                <label for="{{prefix}}endAt">Fin du séjour</label>
                <input type="date" class="{{prefix}}endAt" name="endAt" id="{{prefix}}endAt">
            </div>
            <input type="submit" value="Rechercher">
        </form>
        {# <img src="{{ asset('build/img/'~image) }} " alt="" class="rentableImg" alt=""/> #}
        {# <img src="{{ absolute_url(asset( ))}}" alt="" class="rentableImg" alt=""/> #}
    </div>
</div>

